<h2>BIENVENIDO</h2>
<h3>Ingresa tus datos</h3>
<form action="/users" method="post">
  Nombre:
  <input type="text" name="name" id="name" />
  Correo:
  <input type="email" name="email" id="email" />
  Contrasena:
  <input type="password" name="password" id="password" />
  <input type="submit" value="INGRESAR" />
</form>