<h1>LOGIN</h1>

<form action="/users/login" method="post">
Email<input type="text" name="email" id="" />
Password<input type="password" name="password" id="" />
  <input type="submit" value="LOGIN">
</form>

<h2>NEW USER?</h2>
<button onclick="location.href='/register'" >GO REGISTER</button>