<form id="form">
    email: <input type="text" name="email" id="email">
    password: <input type="password" name="password" id="password">
    <input type="submit" value="TEST">
</form>
<button id="boton" >LOGIN</button>
<script src="/js/jwt.js"></script>