<h1>REGISTER USER</h1>

<form action="/users/register" method="post">
  Firstname<input type="text" name="first_name" id="" />
  Lastname<input type="text" name="last_name" id="" />
  Email<input type="text" name="email" id="" />
  Age<input type="number" name="age" id="" />
  Password<input type="password" name="password" id="" />
  <input type="submit" value="REGISTER">
</form>