<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js"></script>
</head>
<body>
    {{{body}}}
    <h1>Bienvenidos a la clase de handlebars</h1>
    <p>Fin del layout</p>
</body>
</html>